doctype html
html(lang='en')
  head
    title Simple node project
    // Bootstrap core CSS
    link(href='/stylesheet/css/bootstrap.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') PC Repairs
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/contact') Contact
    .container
      block content
    hr
    // /container
    footer.container
      p(class='text-center') © Company 2017
